@import "tailwindcss";

:root {
  --default-dark: rgba(18, 18, 18, 1);
  --dark-transparent: rgba(18, 18, 18, 0.8);
  --accents-dark: rgba(9, 9, 9, 1);
  --accents-dark-transparent: rgba(9, 9, 9, 0.8);

  --footer: rgb(35, 35, 35);

  --default-yellow: rgb(255, 209, 0);

  --yellow-gradient-light: rgb(70, 59, 8);
  --yellow-gradient-dark: rgb(40, 34, 8);
  --lit-up-yellow-gradient-light: rgb(90, 79, 28);
  --lit-up-yellow-gradient-dark: rgb(60, 54, 28);

  --box-gradient-light: rgb(52, 52, 52);
  --box-gradient-dark: rgb(37, 37, 37);
  --box-inner-gradient-light: rgba(99, 99, 99, 0.051);
  --box-inner-gradient-dark: rgba(2, 2, 2, 0.051);

  --carousel-gradient-light: rgba(255, 255, 255, 0.0706);
  --carousel-gradient-dark: rgba(88, 88, 88, 0.0706);

  --default-text: rgba(177, 177, 177, 1);
  --alternate-text: rgba(255, 255, 255, 1);
  --darker-text: rgba(108, 108, 108, 1);

  /* Projects */

  --the-vault: rgb(255, 183, 0);
  --the-vault-text: var(--the-vault);

  --brick-docs: rgb(255, 103, 80);
  --brick-docs-text: var(--brick-docs);

  --sparks: rgb(158, 80, 255);
  --sparks-text: rgb(211, 211, 255);

  --checkpoint: rgb(48, 202, 174);
  --checkpoint-text: var(--checkpoint);

  --simplicity-ftc: rgb(170, 227, 72);
  --simplicity-ftc-text: var(--simplicity-ftc);

  /* Sponsorship tiers */

  --bronze-tier-gradient: rgb(149, 126, 50);
  --bronze-tier-text: rgb(167, 139, 91);

  --silver-tier-gradient: rgb(138, 162, 172);
  --silver-tier-text: rgb(180, 181, 184);

  --gold-tier-gradient: rgb(255, 214, 80);
  --gold-tier-text: rgb(255, 237, 132);

  --diamond-tier-gradient: rgb(93, 231, 255);
  --diamond-tier-text: rgb(153, 223, 255);

  --ultimate-tier-gradient: rgb(164, 80, 255);
  --ultimate-tier-text: rgb(243, 189, 255);

  /* FTC Seasons */

  --into-the-deep-text: rgb(77, 196, 255);
  --into-the-deep-gradient: rgb(140, 186, 255);

  --centerstage-text: rgb(255, 62, 129);
  --centerstage-gradient: rgb(255, 140, 200);

  --powerplay-text: rgb(142, 255, 62);
  --powerplay-gradient: rgb(184, 255, 140);

  --freight-frenzy-text: rgb(255, 231, 108);
  --freight-frenzy-gradient: rgb(255, 224, 140);

  --ultimate-goal-text: rgb(108, 140, 255);
  --ultimate-goal-gradient: rgb(108, 140, 255);

  --skystone-text: rgb(185, 185, 185);
  --skystone-gradient: rgb(157, 157, 157);

  --rover-ruckus-text: rgb(255, 134, 69);
  --rover-ruckus-gradient: rgb(255, 134, 69);

  --relic-recovery-text: rgb(115, 146, 82);
  --relic-recovery-gradient: rgb(255, 224, 140);

  --velocity-vortex-text: rgb(255, 92, 83);
  --velocity-vortex-gradient: rgb(255, 144, 140);

  scrollbar-color: rgb(47, 47, 47) rgb(27, 27, 27);
  scrollbar-width: thin;
}

/* sm */
:root {
  --page-width: min(calc(100vw - 3rem), 37rem);
  --navbar-height: 3.5rem;
  --banner-height: 30rem;
}

/* md */
@media (min-width: 768px) {
  :root {
    --page-width: min(calc(100vw - 4rem), 44rem);
    --banner-height: 35rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  :root {
    --page-width: min(calc(100vw - 6rem), 58rem);
    --navbar-height: 4rem;
    --banner-height: 45rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  :root {
    --page-width: min(calc(100vw - 8rem), 72rem);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  :root {
    --page-width: min(calc(100vw - 8rem), 88rem);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-slow {
  animation: rotate 1000ms linear infinite;
}

@theme inline {
  --color-background: var(--default-dark);
  --color-foreground: var(--default-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(18, 18, 18);
    --foreground: rgb(237, 237, 237);
  }
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-anek-latin), var(--font-inter), sans-serif;
}
